<p style="color: green"><%= notice %></p>

<%= render @forum_post %>

<div>
  <%= link_to "Edit this post", edit_forum_post_path(@forum_post) %> |
  <%= link_to "Back to posts", forum_posts_path %>

  <%= button_to "Destroy this post", @forum_post, method: :delete %>
</div>
